$main-blue: #3366ff;
$white: #ffffff;
$black: #282c30;
$light-gray-border: #e1e4e7;
$dim-background: #f4f5f7;
$divider-color: #e1e4e7;
$font-color-light: #adb5bd;
$font-color-midium: #7e848a;
$font-color-dim: #495057;
$font-color-dark: #282c30;

$web-view-port: 1080px;
$main-radius: 10px;
$default-padding: 20px;
